#main {
display: inline-block;
}

.hcard {
    height: 300px; 
    width: 80%;
    background-color: lightcoral; 
    margin-left 10%;
    display: flex; 
    flx-wrap: wrap;
}

.right {
    margin 5%
}

.left {
    width: 25%;
}

.left img {
    height: 100%;
    width 100%;
}
